.wrapper {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 1em;
}

.wrapper > div{
            background:#eee;
            padding:1em;
        }
.wrapper > div:nth-child(odd){
            background:#eee;
        }

.box_menu {
    align-self: center;
}